<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- configuration标签 scan属性代表logback框架会定时检测改配置文件是否有发生改动，如果有则更新为最新配置-->
    <!-- 日志级别：trace < debug < info < warn < error-->
    <!-- 定义参数常量 -->
    <property name="log.level" value="info"/>　
    <!-- 一个日志文件存在的最大时间：30天-->　　
    <property name="log.maxHistory" value="30"/>　
    <!-- 日志文件存放的目录-->　
    <property name="log.filePath" value="logs"/>
    <!--日志内容格式：年-月-日 时：分：秒.毫秒 [线程名称] 日志级别 -->
    <property name="log.pattern"
              value="auto-cicd %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - traceId:[%X{TRACE_ID}] %-5level %logger{50}:%L - %msg%n"/>

    <!-- 控制台设置 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


    <!-- INFO -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${log.filePath}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


    <logger name="com.arkmon.autocicd" level="${log.level}" additivity="true"><!--logger name属性指定为项目的包名，additivity="true"表示logger继承root,可以将日志输出到控制台-->
        <appender-ref ref="infoAppender"/>
    </logger>
    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>