<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arkmon.autocicd.mappers.ReleaseNoteMapper">

    <select id="selectByDate" resultType="com.arkmon.autocicd.domains.model.ReleaseNote">
        SELECT
            user_id,
            project,
            service,
            environment,
            tag,
            commit_id,
            reason,
            jira_id,
            creation_date
        FROM t_autocicd_release_note
        WHERE 1=1
        <if test="startDate!=null and startDate.trim() neq ''">
            and date_format(creation_date,'%Y-%m-%d %H:%i:%s') &gt;= date_format(#{startDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endDate!=null and endDate.trim() neq ''">
            and date_format(creation_date,'%Y-%m-%d %H:%i:%s') &lt;= date_format(#{endDate},'%Y-%m-%d %H:%i:%s')
        </if>
    </select>

</mapper>